body{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
    margin: 0;
    padding: 0;
	background-color: royalblue;
	text-rendering: optimizeLegibility;
}

.button{
    
    background-color: royalblue;
    border: 2px solid whitesmoke;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.companyLogo{
    display: block;
}

.nav{
  display: flex; 
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom:7%;
 margin-top: 13px;
}

.nav a{
    margin: auto
}


.sectionTitle {
  text-align:center;
}
.products {
  display: flex;
  text-align: center;
  justify-content: space-around;
    padding-bottom: 7%;
}

h1{
  text-align:center;
  padding-bottom: 7%;
}

.slideShow{
  padding-bottom: 7%;
}

.floatLeft {
  float: left;
}

.testimonial {
  padding-bottom: 6%;
}

.centerText {
  text-align: center;
  padding-bottom: 3%;
}

.paddingTop {
  padding-top: 3%;
}


@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
         
 .mySlides{
   animation: fadeIn 8s infinite;
 }