* { margin: 0; padding: 0; }
body{
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
    margin: 0;
    padding: 0;
	text-rendering: optimizeLegibility;
    background-color: whitesmoke;
}

.boxShadow{
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    align-content: center;
}

.button{
    
font-family: 'Playfair Display SC', serif;
    border: 1.5px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.button:hover {
    background-color: lightblue; 
    color: white;
    transition: background-color .4s, color .4s;
}

.companyName{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
        text-shadow: 1.5px 1.5px 1.5px black;


}

.companyLogo{
    align-content: center;
    margin-left: 45%;
}

.environment{
    background-color: #BBD9AB;
    display:block;
  justify-content:center;
  text-align:center;
    padding-bottom: 4%;
}

.environment h1 {
padding: 4% 0 4% 0;
flex: 0 0 100%;
text-align: center;
}

h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 7%;
}

nav{
  display: flex; 
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom:4%;
 margin-top: 13px;
}

nav a{
    margin: auto
}


.sectionTitle {
  text-align:center;
}

.products h1 {
    padding: 4% 0 4% 0;
flex: 0 100%;
    text-align: center;
    vertical-align: top;
}
.products {
    background-color: lavender;
    flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: space-around;
    padding-bottom: 7%;
}
.products h3{
    font-family: 'IBM Plex Serif', serif;

}

.slideShow{
    display: flex;
    flex-direction: column;
    align-items: center;      
  padding-bottom: 7%;
}

.floatLeft {
  float: left;
}

.testimonial {
    padding-left: 2.5%;
  padding-bottom: 7%;
    background-color: #D9ABBB;

}

.testimonial p{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.1em;
}

.testimonial figcaption {
font-size: .9em;
    font-weight: 800;
}

.centerText {
  text-align: center;
  padding-bottom: 3%;
}

.paddingTop {
  padding-top: 3%;
}


@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
         
 .mySlides{
   animation: fadeIn 8s infinite;
   align-content: center;
     margin-right:;
 }
